<div class="mb-12 text-left text-2xl font-bold">
  <% if (user !== null) { %> User: <%= user.fullname %> <% } else { %> No user
  <% } %>
</div>
<% if (messages.serverError) { %>
<div role="alert" class="alert text-white alert-error">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="stroke-current shrink-0 h-6 w-6"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
    />
  </svg>
  <span><%= messages.serverError %></span>
</div>
<% } %>
<div>
  <h1
    class="font-serif text-3xl text-center font-bold underline decoration-gray-400"
  >
    New Post
  </h1>
</div>

<div
  class="max-w-4xl bg-white mt-12 p-8 rounded-lg mx-auto w-screen items-center justify-center shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700"
>
  <form
    action="/admin/add-post"
    method="post"
    enctype="application/x-www-form-urlencoded"
  >
    <!--Title input-->
    <div class="relative mb-6">
      <input
        type="text"
        id="title"
        name="title"
        class="block px-2.5 pb-2.5 pt-4 w-full text-lg text-gray-900 border-2 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=""
        required
      />
      <label
        for="title"
        class="absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
        >Title</label
      >
    </div>

    <!-- Image input -->
    <div class="relative mb-6">
      <input
        type="text"
        class="block px-2.5 pb-2.5 pt-4 w-full text-lg text-gray-900 border-2 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        id="imageUrl"
        name="imageUrl"
        placeholder=""
        required
      />
      <label
        for="imageUrl"
        class="absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
        >imageUrl</label
      >
    </div>

    <!--Message textarea-->
    <div class="relative mb-6">
      <textarea
        class="block px-2.5 pb-2.5 pt-4 w-full text-lg text-gray-900 border-2 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        id="content"
        name="content"
        rows="6"
        placeholder=""
        required
      ></textarea>
      <label
        for="content"
        class="absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
        >Article</label
      >
    </div>

    <!--Submit button-->
    <button
      type="submit"
      class="block w-full max-w-xs mx-auto bg-blue-500 hover:bg-blue-700 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold"
    >
      Add Post
    </button>
  </form>
</div>
