<div
  class="flex justify-center items-center mx-auto bg-cover px-6 rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
>
  <footer
    class="footer mx-auto my-4 py-2 flex justify-center items-center font-bold"
  >
    &copy; <%= new Date().getFullYear() %> Ayman AbuBaker™ • Built with NodeJs &
    Mysql using Prisma ORM. All Rights Reserved.
  </footer>
</div>
