<section class="bg-gray-50 dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <div class="flex justify-center items-center">
        <img src="/img/500.svg" alt="500 image" height="420" width="520" />
        <!-- <img
              src="../img/404.svg"
              alt="404 image"
              height="87"
              width="100"
            /> -->
      </div>
      <!-- <h1
        class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500"
      >
        401
      </h1> -->
      <p
        class="mb-4 text-5xl tracking-tight font-bold text-gray-900 dark:text-white"
      >
        Unauthorized access
      </p>
      <p class="mb-4 text-lg font-medium text-gray-500 dark:text-gray-400">
        Please double check your inputs and try again.
        <!-- Sorry, we can't find that page. You'll find lots to explore on the
            home page. -->
      </p>
      <a
        href="/login"
        class="inline-flex text-white bg-primary-600 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4"
        >Go to Login</a
      >
    </div>
  </div>
</section>
