<div id="card" class="block relative mx-auto w-80 text-center">
  <div
    id="upper-side"
    class="block p-[2em] bg-gradient-to-r from-green-300 to-green-600 rounded-t-2xl text-white"
  >
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) -->
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg
      version="1.1"
      id="checkmark"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      xml:space="preserve"
      class="fill-[#fff] ml-4 -mt-6"
    >
      <path
        d="M131.583,92.152l-0.026-0.041c-0.713-1.118-2.197-1.447-3.316-0.734l-31.782,20.257l-4.74-12.65 c-0.483-1.29-1.882-1.958-3.124-1.493l-0.045,0.017c-1.242,0.465-1.857,1.888-1.374,3.178l5.763,15.382 c0.131,0.351,0.334,0.65,0.579,0.898c0.028,0.029,0.06,0.052,0.089,0.08c0.08,0.073,0.159,0.147,0.246,0.209 c0.071,0.051,0.147,0.091,0.222,0.133c0.058,0.033,0.115,0.069,0.175,0.097c0.081,0.037,0.165,0.063,0.249,0.091 c0.065,0.022,0.128,0.047,0.195,0.063c0.079,0.019,0.159,0.026,0.239,0.037c0.074,0.01,0.147,0.024,0.221,0.027 c0.097,0.004,0.194-0.006,0.292-0.014c0.055-0.005,0.109-0.003,0.163-0.012c0.323-0.048,0.641-0.16,0.933-0.346l34.305-21.865 C131.967,94.755,132.296,93.271,131.583,92.152z"
      />
      <circle
        fill="none"
        stroke="#ffffff"
        stroke-width="5"
        stroke-miterlimit="10"
        cx="109.486"
        cy="104.353"
        r="32.53"
      />
    </svg>
    <h3 id="status" class="text-2xl font-medium">Success</h3>
  </div>
  <div
    id="lower-side"
    class="bg-white mx-auto text-center border-2 pl-[2em] pt-[2em] pr-[5em] pb-[2em] rounded-bl-lg rounded-b-lg"
  >
    <p
      id="message"
      class="flex justify-center items-center text-2xl font-medium ml-12 mt-[-0.5em]"
    >
      Congratulations, your account has been successfully created.
    </p>
    <a href="/login" id="contBtn" class="btn btn-success ml-11 text-white mt-3"
      >Continue</a
    >
  </div>
</div>

<!-- <div>
  <div
    class="relative mx-auto w-80 text-center bg-gradient-to-r from-green-300 to-green-600 rounded-2xl text-white p-8 h-72 max-w-sm"
  >
    <div class="block mx-auto p-[2em]">
      <svg
        version="1.1"
        id="checkmark"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        xml:space="preserve"
        class="fill-[#fff]"
      >
        <path
          d="M131.583,92.152l-0.026-0.041c-0.713-1.118-2.197-1.447-3.316-0.734l-31.782,20.257l-4.74-12.65 c-0.483-1.29-1.882-1.958-3.124-1.493l-0.045,0.017c-1.242,0.465-1.857,1.888-1.374,3.178l5.763,15.382 c0.131,0.351,0.334,0.65,0.579,0.898c0.028,0.029,0.06,0.052,0.089,0.08c0.08,0.073,0.159,0.147,0.246,0.209 c0.071,0.051,0.147,0.091,0.222,0.133c0.058,0.033,0.115,0.069,0.175,0.097c0.081,0.037,0.165,0.063,0.249,0.091 c0.065,0.022,0.128,0.047,0.195,0.063c0.079,0.019,0.159,0.026,0.239,0.037c0.074,0.01,0.147,0.024,0.221,0.027 c0.097,0.004,0.194-0.006,0.292-0.014c0.055-0.005,0.109-0.003,0.163-0.012c0.323-0.048,0.641-0.16,0.933-0.346l34.305-21.865 C131.967,94.755,132.296,93.271,131.583,92.152z"
        />
        <circle
          fill="none"
          stroke="#ffffff"
          stroke-width="5"
          stroke-miterlimit="10"
          cx="109.486"
          cy="104.353"
          r="32.53"
        />
      </svg>
      <h3 class="text-2xl" id="status">Success</h3>
    </div>
    <div
      id="lower-side"
      class="block border-2 bg-[#fff] pl-[2em] pt-[2em] pr-[5em] pb-[2em] rounded-b-lg rounded-bl-lg"
    >
      <p id="message">
        Congratulations, your account has been successfully created.
      </p>
      <a href="#" id="contBtn">Continue</a>
    </div>
  </div> -->

<!-- <div
    class="bg-white py-8 px-10 text-center rounded-md shadow-lg transform -translate-y-20 sm:-translate-y-24 max-w-xs mx-auto"
  >
    <h2 class="font-semibold text-2xl mb-6">Start chatting</h2>
    <img
      class="w-20 h-20 object-cover rounded-full mx-auto shadow-lg"
      src="https://images.unsplash.com/photo-1611342799915-5dd9f1665d04?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
      alt="User avatar"
    />
    <p class="capitalize text-xl mt-1">essie walton</p>
    <span
      class="flex items-center border rounded-full w-24 pr-2 justify-center mx-auto mt-2 mb-12"
      ><div class="bg-green-400 rounded-full w-2.5 h-2.5 block mr-2"></div>
      Active</span
    >
    <button
      class="rounded-md bg-gradient-to-r from-blue-400 to-indigo-500 text-xl text-white pt-3 pb-4 px-8 inline"
    >
      Send a message
    </button>
  </div> -->

<!-- <div id="lower-side">
    <p id="message">
      Congratulations, your account has been successfully created.
    </p>
    <a href="#" id="contBtn">Continue</a>
  </div> -->
